@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.caveat-custom {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600; /* You can replace this with the desired font weight */
    font-style: normal;
  }